.Burger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s ease;
}

.Burger div {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: rgb(117, 116, 116);
    border-radius: 1px;
}


.Open{
    transform:rotate(135deg) ;
    z-index: 500;
}


.OpenDiv{
    top:10px;
    transform: rotate(90deg);
}
.OpenDiv1{
    top:-10px;
    transform: rotate(90deg);
}



@media (min-width: 941px) {
    .Burger {
        display: none;
    }
}

