.Header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(177, 177, 177);
    margin: 0;
    padding:10px 20px 0 20px;
    background-color: white;
    
        position: sticky;
        top: 0px;
}

.Brand{
    margin:0 10px;
    padding: 0 10px;
    font-size: 3rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.H1{
    font-size: 3rem;
    font-weight: bold;
}

.Lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    cursor: pointer;
}
.ListaL{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 941px) {
    .Lista {
        display: none;
    }
    .ListaL li{
        font-size: 2rem;
    }
    .Header{
        align-items: center;
        padding: 10px 10px;
        z-index: 500;
    }

}