.Header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(177, 177, 177);
    margin: 0;
    padding: 10px 20px;
}

.Brand{
    margin:0 10px;
    padding: 0 10px;
    font-size: 3rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.H1{
    font-size: 3rem;
    font-weight: bold;
}

.Lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
   
}
@media (max-width: 500px) {
    .Lista {
        display: none;
    }
}