.Button{
    color: #ffffff;
    background: transparent;
    border:none;
    font-size: 1.8rem;
    cursor: pointer;
    padding: .5rem;
    margin: 10px 0;
    transition: 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom:1px solid #ffffff;
    width: 100%;
}

Button:hover{
    color: var(--grisclaro-color);
    border-bottom: 1px solid var(--grisclaro-color);
}
Button:focus{
    outline: none;
}

.Active{
    transform: scale(1.05);
    color: var(--grisoscuro-color);
    border-bottom: 1px solid var(--grisoscuro-color);
}