.SideBar {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    position: fixed;
    width:25%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: var(--verdeclaro-color);
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    list-style: none;
    overflow-y: auto;
}

.SideBar::-webkit-scrollbar-track
{
	
	background-color: #F5F5F5;
}

.SideBar::-webkit-scrollbar
{
	width: 8px;
	background-color: rgb(93, 93, 93);
}

.SideBar::-webkit-scrollbar-thumb
{
	background-color: var(--gris-color);
	border: 2px solid #555555;
}
 


.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-101%);
}
@media(max-width: 941px){
    .Close{
        transform: translateX(-150%);
    }
    .SideBar{
        width: 70%;
    }
}