.Container{
    display:flex;
    align-items: center;
    flex-flow: column-reverse;
    position: absolute;
    top: 7px;
    right: 5px;
    width: 70px;
    cursor: pointer;
}
.Grados{
    font-family: "Roboto";
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 300;
}
.Icon{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
  }
.Before{
    font-family: "Roboto";
    color: #fff;
    font-size: .9rem;
    margin: 0;
    font-weight: 300;
    text-align: center;
}
@media(max-width:1000px){
    .Container{
        top:2px;
        right: 0;
    }
}