.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    scroll-snap-align: start;
  }
  .Date{
    color: #6b6e70;
    font-size: 1.2rem;
  }

  .glitch {
    color: #fff;
    font-family: Anurati;
    font-weight: 500;
    font-size: 100px;
    position: relative;
    padding: 30px;
  }

  

@font-face{
    font-family: Anurati;
    src: url(../Assets/Fuentes/Ailerons-Regular.otf);
}



@media (max-width: 941px) {
  .glitch{
    font-size: 50px;
    padding: 0;
  }
  
}


